h1 {
  color: grey;
  font-family: 'Courier New', monospace;
  font-size: 300%;
}
p {
  color: grey;
  font-family: 'Courier New', monospace;
  font-size: 160%;
}

.about {
  padding: 10px;
  margin: auto;
  text-align: center;
}

.header {
  padding: 10px;
  text-align: left;
  background: black;
  color: black;
  font-size: 25px;
}

.center {
  margin: auto;
  width: 60%;
  padding: 180px 0;
  text-align: center;
}

#map { height: 500px; }

#circle {
  float: left;
  width: 500px;
  height: 500px;
  margin: 0px;
  shape-outside: circle(10% at 30%);
  clip-path: circle(50% at 0%);
  background: white;
}
